body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

#home {
  background-color:  #6371ee;
  margin: 0;
  padding: 2em;
  height: auto;
}

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  /* Add the styles here */
}

.topdiv {
  float: right;
  padding-right: 1em;
}

.profile_name {
  float: left;
  padding-left: 1em;
  color: white;
  /* Add the styles here */
}

.profile_name .contact_info {
  font-size: 12px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width: 15px;
  margin-right: 5px;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  color: #6371ee;
  margin: 20px;
}

.introduction {
  text-align: justify;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
  flex-wrap: wrap;
}

/* About Me */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me h1 {
  font-size: 40px;
  margin-top: 30px;
  color: #6371ee;
}

#about-me p {
  font-size: 16px;
  color: rgb(128, 128, 128);
  margin-top: -1em;
}

.profile_image {
  width: 100%;
  height: auto;
  margin: 10px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1 1 200px; /* Adjust as needed */
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 20px;
  margin-bottom: 5px;
}

.skills h6 {
  font-size: 16px;
  margin: 8px 0 5px;
  font-weight: bold;
} 

.skills p {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 20px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  margin: 15px;
}

.project-card h3 {
  font-size: 20px;
  margin-left: 10px;
}

.project-card li {
  font-size: 16px;
  margin-left: 10px;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  margin: 10px;
  border: 1px solid gray;
  font-size: 14px;
  min-height: 150px;
}

.recommendation span {
  color: #6371ee;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #6371ee;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width: 80%;
  max-width: 400px;
  background-color: #6371ee;
  border-radius: 3mm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #6371ee;
  color: #6371ee;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  margin-left: 10%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid #6371ee;
  color: #6371ee;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 10%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width: 80%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin: 0 auto;  
  border: thin solid white;
  width: 80%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid #6371ee;
  color: #6371ee;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  margin-left: 10%;
}

button:hover {
  background-color: #6371ee;
  border: 1px solid #6371ee;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin-left: 10%;
}
